DATABASE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=

FRANKFURTER_BASE_URL=https://api.frankfurter.dev/v1
WORLD_BANK_BASE_URL=https://api.worldbank.org/v2
GDELT_BASE_URL=https://api.gdeltproject.org/api/v2
